*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

html {
  /* Desfines 1rem = 10px(10px/16px = 0.625)*/
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  background-color: var(--color-grey-light-1);
}
