.card {
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0.3rem 0.3rem 1rem 0.3rem rgb(51, 51, 51, 0.175);
}

.card__header,
.card__body {
  padding: 1rem;
  background-color: var(--color-surface-background);
}

.card__header {
  padding: 1rem;
  border-bottom: 0.25rem solid var(--color-main-background);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.card__body {
  height: 100%;
}

.card__weather--main {
  width: 30rem;
  height: 40rem;
}
